
# Python
__pycache__/
*.pyc

# Logs
logs/
*.log

# Models & DB
models/
chroma_storage/

# Snapshots (optional, if too large)
core/memories/*/snapshots/
core/memories/shared/snapshots/

# VSCode / IDE
.vscode/
.idea/

# Others
*.sqlite3

